extends layout 

block layout-content
    div.TitleView
        h1.white-font Personal Tracker!
        div.MainView
            form(method="POST" action="/personal-tracker")
                h4.white-font How many glasses of water have you had? 
                select(name="waterSelect")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                .whitespace(style='white-space:pre;')
                h4.white-font Have you urinated since last check?        
                    select(name="boolSelect")
                        option(value="1") Yes 
                        option(value="0") No
                    div.whitespace(style='white-space:pre;')
                button.btn-primary(type="submit" name="submit-button") Submit
            