extends layout

block layout-content
    h1 Personal Tracker Login
    form#login-form(method="POST" action="/auth")
        label(for="username" value="Username") Username
            input(name="username" type="text")
        label(for="password" value="Password") Password
            input(name="password" type="password")
        input#submit(type="submit" value="Login")

        
        
