extends layout
block layout-content

    h1 #{urination}
    div.WaterView
        h1 You drank #{glasses} glasses of water
        //- TODO: Add conditonal operator
        if !condCheck
            h1 You urinated.
        else
            h1 You did not urinate.